.userCard {
    margin-top: 16px;
  }
  
  .userCard.wide {
    width: 100%;
  }
  
  .userCard.narrow {
    width: 30%;
  }

  .red{
width: 100%;
color: black;
  }

  .prev{

background-color: grey;
height: 50px;
  }

  .butttonart{

    color: black;
}